* {box-sizing: border-box;}

body {
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
  background-color:BlanchedAlmond ;
}

/* load screen ---------*/
.loadContainer {
  display:block;
  position:absolute;
  color:rgb(100,100,100);
  font-family: 'Amatic SC', sans-serif;
  top:50%;left:50%;
  transform:translate(-50%, -50%);
  user-select: none;
  font-size:6vw;
}
.smiley {
  display:block;
  text-align:center;

}
.loading {
  display:block;
  text-align:center;
}
/* --------------------------*/

/* material design icons ----*/
.upArrowContainer {
  position:fixed;
  cursor:pointer;
  top:0;
  left:50%;
  transform: translate(-50%, 0);
  z-index:200;
  transition:transform 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.slideUp {
  transform: translate(-50%, -100%);
}

.downArrowContainer {
  position:fixed;
  cursor:pointer;
  bottom:0;
  left:50%;
  transform: translate(-50%, 0);
  z-index: 200;
  transition:transform 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.slideDown {
  transform: translate(-50%, 100%);
}

.material-icons.md-48 {
  font-size:48px;
  color:rgba(255, 255, 255, 0.8);
  transition: 0.2s;
  user-select: none;
}
.material-icons.md-48:active {font-size:42px; color:rgb(200,200,200);}
.material-icons.md-48:hover {color:white;}
/* ======================----*/

/* wraps entire page ----*/
.window {
  position:relative;
  width:100vw;
  height:100vh;
  overflow:hidden;
  display:none;
}

.container {
  position:relative;
  transition:transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
  height:100%;
  width:100%;
}

.section {
  height:100%;
  position:relative;
  /* Prevent parallax from spilling over */
  overflow:hidden;
}

h1 {
  font-size:7vw;
  color:rgba(255,255,255,0.8);
  font-family: 'Amatic SC', sans-serif;
  margin:0; padding:0;
  bottom:50%; right:50%;
  transform: translate(50%,50%);
  position:absolute;
  width:100%;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
  transition:transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.small {
  font-size:6vw;
  text-transform: lowercase;
  font-weight: 100;
}

.parallaxAbove { transform: translate(50%, calc(50% - 200px)); }
.parallaxUnder { transform: translate(50%, calc(50% + 200px)); }

/* FIRST SECTION */
.first {
  background-image:url('images/stairway.jpg');
  background-size: cover;
  background-position:center;
}
.first::after{
  display:block;
  content:'';
  position:absolute;
  top:0;left:0;
  height:100%; width:100%;
  background-color:darkkhaki;
  opacity:0.35;
}
.first.mobile {
  background-image:url('textures/cloudy-day.png');
  background-size:auto;
  background-repeat: repeat;
}
.mobile.first::after {
  opacity:0;
}
/* ---------------- */

/* SECOND SECTION */
.second {
  background-image:url('images/bay.jpeg');
  background-size:cover;
  background-position:center;
}
.second::after{
  display:block;
  content:'';
  position:absolute;
  top:0;left:0;
  height:100%; width:100%;
  background-color:lightblue;
  opacity:0.35;
}
.second.mobile {
  background-image:url('textures/sakura.png');
  background-size:auto;
  background-repeat: repeat;
}
.mobile.second::after {
  opacity:0;
}
/* ---------------- */

/* THIRD SECTION */
.third {
  background-image:url('images/forest.jpeg');
  background-size: cover;
  background-position: center;
}
.third::after{
  display:block;
  content:'';
  position:absolute;
  top:0;left:0;
  height:100%; width:100%;
  background-color:darkkhaki;
  opacity:0.35;
}
.third.mobile {
  background-image:url('textures/restaurant.png');
  background-size:auto;
  background-repeat: repeat;
}
.mobile.third::after {
  opacity:0;
}
/* ---------------- */

/* FOURTH SECTION */
.fourth {
  background-image:url('images/sunrise.jpeg');
  background-size: cover;
  background-position: center;
}
.fourth::after{
  display:block;
  content:'';
  position:absolute;
  top:0;left:0;
  height:100%; width:100%;
  background-color:lightskyblue;
  opacity:0.35;
}
.fourth.mobile {
  background-image:url('textures/congruent_pentagon.png');
  background-size:auto;
  background-repeat: repeat;
}
.mobile.fourth::after {
  opacity:0;
}
/* ---------------- */
